<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img />
    </div>

    <!-- Login Form -->
    <form action="/auth/signup" method="post">
      <input type="text" id="login" class="fadeIn second" name="fullname" placeholder="Full name">
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username">
      <input type="email" id="password" class="fadeIn third" name="email" placeholder="E-Mail">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="SIGNUP">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/auth/login">Already have an account? Login here</a>
    </div>

  </div>
  {{#if message}}
  <div class="error-message">{{message}}</div>
  {{/if}}
</div>