<div class="wrapper fadeInDown">
    <div id="formContent">
        <p>Welcome to the world of fitness social media FITME where you can be the influencer and motivate others or you
            can be motivated by staying connected with your friends. Stay connected with the below activities:</p>
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img />
        </div>

        <!-- Login Form -->
        <form action="/auth/login" method="post">
            <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="/auth/signup">Don't have an account? Register here</a>
            <br>
            <a class="underlineHover">or</a>
            <br>
            <a class="underlineHover" href="/auth/fitbit">Login via Fitbit</a>
        </div>

    </div>
</div>