<div style = "margin-top:200px;">
{{#with user}}
<p style="color :black">This is the activities page of {{username}}</p>
{{/with}}


<a href="/auth/logout" style="color :black">Click here to logout</a>
</div>