<div style="margin-top: 10%; position:relative;left:-2rem;padding:3%">
    {{#each user}}
    <img src="{{avatar}}" alt="" style="width:30px;border-radius:50%">
    <span>{{this.username}}</span>
    <form action="/user/{{this._id}}/add" method="get" style="position: relative;left:40%">
        <button type="submit""><i class=" fas fa-user-plus"></i></button>
    </form>
    {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
    {{/if}}
    {{/each }}
</div>